fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
openai
google-generativeai
APScheduler
deepseek
firebase-admin
bcrypt>=4.0
python-jose[cryptography]
slowapi
email-validator